
body {
    margin: 0;
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 400;
    background-color: #0e1116;

}
/*HEADER*/

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 68px;
}
.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    height: 68px;

}

.container {
    max-width: 1270px;
    margin: 0 auto;
}

.nav {

}

.nav__link {
    color: white;
    margin-right: 30px;
    font-size: 18px;
    text-decoration: none;
}

.nav__link:nth-child(4) {
    margin: 0;
}

#nav {
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 10px;
    background: linear-gradient(99.01deg, #0075FF 5.33%,
                rgba(98, 170, 255, 0.32) 96.08%);
    margin-right: 20px;
}

/*INTRO*/

.intro {
    background: url('img/background.jpg');
    background-blend-mode: multiply;
    background-color: #363232;
    height: 700px;
}

.intro__inner {
    padding-top: 198px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

h2 {
    margin-top: 0px;
    font-size: 30px;
    font-weight: 400;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #0075FF;
    margin: auto;
    text-decoration: none;
}

.win {
    text-decoration: none;
    color: #0075FF;
    margin-left: 20px;
    font-size: 20px;
    padding: 10px 10px 10px 0px;
}
.img__win {
    padding-left: 10px;
}

.or {
    font-size: 20px;
    margin-top: 20px;
}


.icons {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.social__item{

}
.social__icons {
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

.social__icons:nth-child(2) {
    margin: 0px;
}

#apple {
    fill: white;
}

#android {
    fill: white;
}

.arrow__bot {
    fill: white;
    width: 34px;
    height: 34px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
    padding: 40px 40px;
    border-radius: 50%;
    background: linear-gradient(99.01deg, #0075FF 5.33%,
                rgba(98, 170, 255, 0.32) 96.08%);

}

/*CONTENT*/

.content__inner {
    margin-top: 190px;
    height: 100%;
}
h3 {
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 60px;
}

.img__inner {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.block {
    box-sizing: border-box;
    width: 590px;
    height: 280px;
    margin-right: 50px;
    position: relative;
}

.block:nth-child(2) {
    margin-right: 0;
    margin-bottom: 50px;
}
.block:nth-child(4) {
    margin-right: 0;
    margin-bottom: 50px;
}
/*1st*/
.bg1 {
    opacity: 0%;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.bg__img {
    opacity: 0%;
    top: 54px;
    left: 54px;
    position: absolute;
}
.bg__text {
    opacity: 0%;
    color: white;
    top: 150px;
    left: 40px;
    position: absolute;
}

.block:hover .bg1 {
    opacity: 50%;
}
.block:hover .bg__img {
    opacity: 100%;
}
.block:hover .bg__text {
    opacity: 100%;
}

/*2*/

.bg2 {
    opacity: 0%;
    background-color: orange;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}


.block:hover .bg2 {
    opacity: 50%;
}

/*3*/

.bg3 {
    opacity: 0%;
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.block:hover .bg3 {
    opacity: 50%;
}

/*4*/

.bg4 {
    opacity: 0%;
    background-color: purple;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.block:hover .bg4 {
    opacity: 50%;
}

/*SERVICES*/

.services__inner {
    margin-top: 152px;
    font-size: 30px;
    color: white;
    font-weight: 400;
}
.services__header {
    margin-bottom: 60px;
}
.services__items {
    display: flex;
    justify-content: center;
}

.block1 {
    width: 400px;
    height: 400px;
    background: linear-gradient(180deg, #2C70AE 0%,
    rgba(159, 209, 255, 0.73) 100%);
    border-radius: 10px;
    margin-right: 35px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.block2 {
    width: 400px;
    height: 400px;
    background: linear-gradient(180deg, #AE722C 0%,
    rgba(255, 194, 159, 0.73) 100%);
    border-radius: 10px;
    margin-right: 35px;
    text-align: center;
}
.block3 {
    width: 400px;
    height: 400px;
    background: linear-gradient(180deg, #AE2C53 0%,
    rgba(255, 159, 159, 0.73) 100%);
    border-radius: 10px;
    text-align: center;
}

.price {
    display: flex;
    justify-content: space-between;
}
.price__1 {
    text-transform: uppercase;
    margin-top: 40px;
    margin-left: 40px;
}
.price__2 {
    margin-top: 40px;
    margin-right: 40px;
}

.description {
    text-transform: none;
    font-size: 25px;
    margin-top: 60px;
    margin-bottom: 80px;
}

.link_btn2{
    text-decoration: none;
    width: 225px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 363px;
    height: 66px;
}
.link_btn {
    text-decoration: none;
}
.btn__2 {
    text-transform: none;
    color: black;
    background-color: white;
    width: 225px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 10px 10px 0px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;
    line-height: 60px;
}

.arrow__top {
    fill: white;
    width: 34px;
    height: 34px;
    padding: 40px 40px;
    border-radius: 50%;
    background: linear-gradient(99.01deg, #0075FF 5.33%,
    rgba(98, 170, 255, 0.32) 96.08%);
    right: 50px;
    margin-top: 350px;
    position: absolute;

}
/*DOWNLOAD*/


.download_header {
    text-transform: uppercase;
    color: white;
    margin-top: 250px;
    font-size: 30px;
}

.download__inner {
    margin-top: 60px;
    width: 776px;
    height: 167px;
    display: flex;
    flex-wrap: wrap;
}

.download__item {
    width: 363px;
    height: 66px;
    display: flex;
    background: linear-gradient(99.01deg, #0075FF 5.33%,
    rgba(98, 170, 255, 0.32) 96.08%);
    align-items: center;
    margin-right: 20px;
    margin-bottom: 38px;
}

.download__item:nth-child(2) {
    margin-right: 0;
}
.win__png {
    height: 36px;
    width: 36px;
    margin-left: 25px;
    margin-right: 20px;
}
.text__download {
    text-decoration: none;
    font-size: 20px;
    color: white;

}

#govno {
    text-decoration: none;
}


/*FOOTER*/

.footer__main {
    background-color: black;
    margin-top: 260px

}

.footer__inner {
    height: 400px;
    display: flex;
}

.footer__items {
    margin-top: 60px;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.footer__text1 {
    color: white;
    font-size: 20px;
}

.footer__text2 {
    color: white;
    font-size: 16px;
    margin-top: 15px;
}

span {
    color: #7171ea;
}

.social {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
}
.vk {
    width: 50px;
    height: auto;
    fill: white;
    margin-right: 20px;
}

.twitter {
    width: 50px;
    height: auto;
    fill: white;
    margin-right: 20px;
}
.git {
    width: 50px;
    height: auto;
    fill: white;
}

.social__icons2 {
    display: flex;
    justify-content: center;
}

.t1 {
    font-size: 20px;
    color: white;
    margin-bottom: 15px;
}
.t2 {
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
}
.t3 {
    font-size: 16px;
    color: white;
}

.apps {
    color: white;
    margin-bottom: 15px;
}

.app1 {
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}

.app2 {
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}

.app3 {
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}